:root
{
    --white: #c7c7c7;
    --dkgray: #353535;
    background-color: #353535;

}.header {
        width: 100%;
        height: 104px;
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.06);
        background-color: #c7c7c7;
        position: fixed;
        z-index: 100;
        top: 0;
    }
    .header .wrapper{
        width: 100%;
        max-width: 1140px;
        height: 100%;
        padding: 0 20px;
        box-sizing: border-box;
        margin: 0 auto;
        background: transparent;
        overflow: inherit;
    }
    .wrapper * {
        font-weight: 400;
        font-family: Roboto,Arial,sans-serif;
    }
    .header .wrapper .upper_line{
        position: relative;
        padding: 12px 0 4px 10px;
        height: 40px;
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: stretch;
    }
    .header .wrapper .upper_line .first_column{
        display: flex;
        align-items: center;
    }
    .header .wrapper .upper_line .first_column .geo{
            height: 28px;
            margin: 8px 10px 0 30px;
            font-family: Roboto;
            font-size: 16px;
            line-height: 28px;
            color: #63c;
            display: flex;
            align-items: center;
            cursor: pointer;
            position: relative;
    }
    .header .wrapper .upper_line .first_column .logo {
        width:250px;
        height:100%;
    }
    .header .wrapper .upper_line .enter {
        position: absolute;
        right: 0;
        bottom: 0;
        width: 5%;
        height: 50%;
    }
    .wrapper img {
        display: block;
        max-width: 100%;
        vertical-align: top;
        border: 0;
    }
    .header .wrapper .bottom_line {
        overflow-x: auto;
        margin: 8px -20px 0 -20px;
        padding: 0 0 10px 10px;
    }
    .header .wrapper .bottom_line .menu {
        min-width: 700px;
        height: 34px;
        display: flex;
        justify-content: center;
        align-items: center;
        list-style: none;
        padding: 0;
    }
    .header .wrapper .bottom_line .menu li {
        margin-right: 32px;
        margin-left: 32px;
    }
    .header .wrapper .bottom_line .menu a {
        white-space: nowrap;
        font-family: Roboto;
        font-size: 18px;
        font-weight: 500;
        line-height: 1.33;
        color: #333;
        text-decoration: none;
        transition: color .3s;
    }
    .header .wrapper .bottom_line .menu a:hover {
        color: #5faf69;
    }
    .upper_line .geo .cities {
        cursor: initial;
        position: fixed;
        top: 60px;
        left: 0;
        width: 100%;
        max-height: calc(100vh - 60px);
        padding: 50px 0 20px;
        box-sizing: border-box;
        background: #fff;
        overflow-y: auto;
    }
    .upper_line .geo .cities .list {
        column-count: 5;
        max-width: 950px;
    }
    .b-popup .b-popup-content li {
        display: block;
        line-height: 16px;
        line-height: 32px;
        font-size: 16px;
    }
    .main_container {
        margin-top: 105px;
        background: #;
    }
    .main_container .tabs_container {
        padding: 35px 0 0 0;
    }
    @media screen and (max-width: 1139px)
    .main_container .tabs_container .tabs_list {
        left: 0;
        display: block;
        width: auto;
        overflow: hidden;
        position: relative;
        align: top;
    }

    .main_container .tabs_container .tabs_list {
        position: relative;
        left: 25px;
        display: inline-block;
        width: 100%;
        vertical-align: top;
    }

    .main_container .tabs_container .caption {
        margin-left: 25px;
    }

    @media screen and (max-width: 1139px)
    .main_container .tabs_container .tabs_scroller {
        overflow-x: scroll;
        overflow-y: hidden;
        white-space: nowrap;
        display: block;
        width: auto;
        margin-top: 25px;
    }

    .main_container .tabs_container .tabs_scroller {
        display: inline-block;
        width: 100%;
    }

    @media screen and (min-width: 1140px)
    .main_container .tabs_container .tabs_scroller {
        display: flex;
        flex-wrap: wrap;
    }

    .main_container .tabs_container .tabs_scroller .tablet {
        float: left;
        padding-bottom: 20px;
        display: inline-block;
        width: 25%;
        vertical-align: top;
        text-decoration: none;
    }

    .main_container .tabs_container .tabs_scroller .last_tablet {
        background: #20152c;
        border-radius: 5px;
        border: 1px solid #4c4356;
        max-width: 160px;
        max-height: 240px;
        width: 100%;
        margin-top: 38px;
        margin-right: 20px;
        display: inline-block;
        vertical-align: top;
        text-decoration: none;
        transition: color .3s;
    }

    .main_container .tabs_container .tabs_scroller .last_tablet:hover {
        color: #5faf69;
        background: #666666;
    }

    .main_container .tabs_container .tabs_scroller .last_tablet .roboto_text {
        margin: 0px;
        margin-left: 12px;
        white-space: nowrap;
        font-family: Roboto;
        font-size: 18px;
        font-weight: 500;
        line-height: 1.33;
        color: white;
        text-decoration: none;
        transition: color .3s;
    }
    .main_container .tabs_container .tabs_scroller .last_tablet .roboto_text:hover {
        color: #111111;
    }
    .roboto_text {
        margin: 0px;
        margin-left: 12px;
        white-space: nowrap;
        font-family: Roboto;
        font-size: 18px;
        font-weight: 500;
        line-height: 1.33;
        color: white;
        text-decoration: none;
    }
