:root
{
--white: #eee;
--agray: #111;
--orange: #ff9900;
background-color: #111;
font-family: Roboto;
}
.header {
    width: 100%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.06);
    background-color: white;
    position: fixed;
    z-index: 100;
    top: 0;
    text-decoration: none;
}
.header .wrapper {
    width: 100%;
    height: 100%;
    padding: 0 10px;
    box-sizing: border-box;
    margin: 0 auto;
    background: transparent;
    overflow: inherit;
}
.wrapper * {
    font-weight: 400;
    
}
    .header .wrapper .upper_line{
    position: relative;
    padding: 12px 0 4px 10px;
    height: 40px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: stretch;
}
.header .wrapper .upper_line .first_column{
    display: flex;
    align-items: center;
}
.header .wrapper .upper_line .first_column .geo{
    height: 28px;
    margin: 8px 10px 0 30px;
    
    font-size: 16px;
    line-height: 28px;
    color: #63c;
    display: flex;
    align-items: center;
    cursor: pointer;
    position: relative;
}
.header .wrapper .upper_line .first_column .logo {
    width:250px;
    height:100%;
}
.header .wrapper .upper_line .second_column {
    padding-right: 25px;
    margin-top: 5px;
}
.header .wrapper .upper_line .second_column .enter {
    padding: 10px;
    max-width: fit-content;
    white-space: nowrap;
    
    font-size: 18px;
    font-weight: 500;
    line-height: 1.33;
    color: black;
    text-decoration: none;
    transition: color .3s, background .3s;
    margin-inline-start: auto;
}
.etext {
    text-decoration: none;
    max-width: fit-content;
    margin: 0px;
    padding: 2px;
}
.header .wrapper .upper_line .enter:hover {
    background: orange;
    color: white;
    text-decoration: none;
}
.wrapper img {
    display: block;
    max-width: 100%;
    vertical-align: top;
    border: 0;
}
.header .wrapper .bottom_line {
    overflow-x: auto;
    margin: 8px -20px 0 -10px;
}
.header .wrapper .bottom_line .menu {
    min-width: 700px;
    height: 34px;
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    padding: 0;
    background: orange;
}
.header .wrapper .bottom_line .menu .menu_element {
    padding-right: 32px;
    padding-left: 32px;
    transition: background color .3s;
    height: 100%;
    padding-top: 10px;
}
.header .wrapper .bottom_line .menu .menu_element:hover {
    background: white;
    color: orange;
}
.header .wrapper .bottom_line .menu a {
    white-space: nowrap;
    
    font-size: 18px;
    font-weight: 500;
    line-height: 1.33;
    color: #333;
    text-decoration: none;
    transition: color .3s;
}
.header .wrapper .bottom_line .menu a:hover {
    color: #555;
}
.upper_line .geo .cities {
    cursor: initial;
    position: fixed;
    top: 60px;
    left: 0;
    width: 100%;
    max-height: calc(100vh - 60px);
    padding: 50px 0 20px;
    box-sizing: border-box;
    background: white;
    overflow-y: auto;
}
.upper_line .geo .cities .list {
    column-count: 5;
    max-width: 950px;
    list-style-type: none;
}
.b-popup .b-popup-content li {
    display: block;
    line-height: 16px;
    line-height: 32px;
    font-size: 16px;
}
.main_container {
    margin-top: 105px;
    background: #;
}
.main_container .tabs_container {
    padding: 35px 0 0 0;
}
@media screen and (max-width: 1139px)
    .main_container .tabs_container .tabs_list {
    left: 0;
    display: block;
    width: auto;
    overflow: hidden;
    position: relative;
    align: top;
}
.main_container .tabs_container .tabs_list {
    position: relative;
    left: 25px;
    display: inline-block;
    width: 100%;
    vertical-align: top;
}
@media screen and (max-width: 1139px)
.main_container .tabs_container .tabs_scroller {
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    display: block;
    width: auto;
    margin-top: 25px;
}
.main_container .tabs_container .tabs_scroller {
    display: inline-block;
    width: 100%;
}
@media screen and (min-width: 1140px)
.main_container .tabs_container .tabs_scroller {
    display: flex;
    flex-wrap: wrap;
}
.main_container .tabs_container .tabs_scroller .tablet {
    float: left;
    padding-bottom: 20px;
    display: inline-block;
    width: 25%;
    vertical-align: top;
    text-decoration: none;
}
.main_container .tabs_container .tabs_scroller .last_tablet {
     background: white;
     border: 1px solid #999;
     box-shadow: 0 4px 2px 0 rgba(0,0,0,0.4);
     max-width: 160px;
     max-height: 540px;
     width: 100%;
     margin-top: 38px;
     margin-right: 10px;
     display: inline-block;
     vertical-align: top;
     text-decoration: none;
     transition: .1s;
     min-height: 100px;
 }

 .main_container .tabs_container .tabs_scroller .last_tablet_c {
     background: white;
     color: black;
     border: 1px solid #999;
     box-shadow: 0 4px 2px 0 rgba(0,0,0,0.4);
     max-width: 200px;
     max-height: 540px;
     width: 100%;
     margin-top: 38px;
     margin-right: 10px;
     display: inline-block;
     vertical-align: top;
     text-decoration: none;
     transition: .1s;
     min-height: 100px;
     padding: 10px;
     transition: .3s;
 }
 .main_container .tabs_container .tabs_scroller .last_tablet_c:hover {
      background: orange;

  }
.main_container .tabs_container .tabs_scroller .last_tablet:hover {
    color: #111;
    background: orange;
}

.main_container .tabs_container .tabs_scroller .description {
    color: black;
    padding: 5px;
    font-size: 20px;
}

.main_container .tabs_container .tabs_scroller .last_tablet .roboto_text {
    margin: 0px;
    margin-left: 12px;
    white-space: nowrap;
    
    font-size: 18px;
    font-weight: 500;
    line-height: 1.33;
    color: #333;
    text-decoration: none;
    transition: color .3s;
}
.main_container .tabs_container .tabs_scroller .last_tablet_c .roboto_text {
    margin: 0px;
    margin-left: 12px;
    white-space: nowrap;

    font-size: 18px;
    font-weight: 500;
    line-height: 1.33;
    color: #333;
    text-decoration: none;
    transition: color .3s;
}
.main_container .tabs_container .tabs_scroller .last_tablet .roboto_text:hover {
    color: white;
}
.roboto_text {
    margin: 0px;
    margin-left: 12px;
    white-space: nowrap;
    
    font-size: 18px;
    font-weight: 500;
    line-height: 1.33;
    color: white;
    text-decoration: none;
}
.geo a {
    margin: 0px;
    margin-left: 12px;
    white-space: nowrap;
    white-space: nowrap;
    padding: 5px;
    font-size: 18px;
    font-weight: 500;
    line-height: 1.33;
    color: #000;
    text-decoration: none;
    transition: color .3s;
}
.geo a:hover{
    color: white;
    background: orange;
}
.geo .list a{
    color: #555;
}
.geo .list a:hover{
    color: #000;
}
.error p{
    margin: 0px;
    margin-left: 12px;
    white-space: nowrap;
    
    font-size: 60px;
    font-weight: 500;
    line-height: 1.33;
    color: white;
    text-decoration: none;
}
.caption {
    margin: 0px;
    margin-left: 12px;
    white-space: normal;
    
    font-size: 60px;
    font-weight: 500;
    line-height: 1.33;
    color: white;
    text-decoration: none;
    text-shadow: 4px 4px 0px rgba(0,0,0,1);
}
.main_container .tabs_container .tabs_scroller .last_tablet .more .text{
    margin: 0px;
    margin-left: 35%;
    white-space: nowrap;
    
    font-size: 60px;
    font-weight: 500;
    line-height: 1.33;
    text-decoration: none;
    transition: color .3s
}
.main_container .tabs_container .tabs_scroller .last_tablet .more{
    transition: color .3s;
    color: #333;
}
.main_container .tabs_container .tabs_scroller .last_tablet .more:hover{
    color: white;
}
.seat {
    background: white;
    border: 1px solid #999;
    box-shadow: 0 4px 2px 0 rgba(0,0,0,0.4);
    max-width: 32px;
    max-height: 32px;
    min-width: 32px;
    width: 100%;
    margin-right: 10px;
    display: inline-block;
    vertical-align: top;
    text-decoration: none;
    transition: color background .3s;
    min-height: 32px;
    transform: rotateX(45deg);
}
.seat:hover {
    background: #0b0;
}
.hseat {
    background: #f00;
    border: 1px solid #999;
    box-shadow: 0 4px 2px 0 rgba(0,0,0,0.4);
    max-width: 32px;
    max-height: 32px;
    min-width: 32px;
    width: 100%;
    margin-right: 10px;
    display: inline-block;
    vertical-align: top;
    text-decoration: none;
    transition: color background .3s;
    min-height: 32px;
}
.sseat {
    background: white;
    border: 1px solid #999;
    box-shadow: 0 4px 2px 0 rgba(0,0,0,0.4);
    max-width: 32px;
    max-height: 32px;
    min-width: 32px;
    width: 100%;
    margin-right: 10px;
    display: inline-block;
    vertical-align: top;
    text-decoration: none;
    transition: color background .3s;
    min-height: 32px;
}
.buyButton {
    background: white;
    border: 1px solid #999;
    box-shadow: 0 4px 2px 0 rgba(0,0,0,0.4);
    max-width: 128px;
    max-height: 40px;
    min-height: 32px;
    color: #333;
    margin-left: auto;
    margin-right: 10px;

    text-decoration: none;
    transition: color background .3s;
    min-height: 32px;
}
.login{
    max-width: 410px;
        background: white;
        border-color: orange;
        border-bottom-style: solid;
        border-width: thin;
        border-width: 20px;
        margin: 0px 0px 0 0px;
        height: -webkit-fill-available;
        width: -webkit-fill-available;
        font-size: 16px;
        line-height: 27px;
        color: black;
        display: flex;
        align-items: center;
        position: relative;
        padding: 10px;
}
.login input {
    border-style: none;
    padding: 5px;
    margin-bottom: 5px;
    border-style: solid;
    border-width: 0.5px;
    font-size: 15px;
    display: flex;
    background: white;
}
.login label {
}
.sessions {
    background: #555;
    display: flex;
    padding: 10px;
}
.session_tab {
    background: orange;
    color: #222;
    margin: 2px;
    text-decoration: none;
    box-shadow: 0 3px rgba(0,0,0,0.5);
    width: fit-content;
    min-width: 56px;
    margin-top: 5px;
    padding: 2px;
    transition: background .3s, color .3s;
}
.session_tab:hover {
    background: #111;
    color: white;
}
.session_tab a {
    text-decoration: none;
    font-size: 18px;
    color: inherit;
}
.performance {
    background: white;
    margin-bottom: 10px;
    text-decoration: none;
    padding: 5px;
    font-size: 18px;
    color: white;
}
.performance p {
    padding: none;
    margin: 5px;
    color: #111;
}
.seats_rows {
    margin: auto;
}
.seats_row {
    display: flex;
    margin: auto;
    width: fit-content;
    width: -webkit-fill-available;
    perspective: 500px;
}
.tag {
    color: white;
    background: #333;
    padding: 5px;
    margin: 2px;
    border-radius: 5px;
    border-style: solid;
    height: fit-content;
    width: fit-content;
    transition: .2s
}
.tag:hover {
    border-color: orange;
}
.description {
    color: #333;
    
}

.regbutton {
    color: #333;
    text-decoration: none;
    background: white;
    padding: 5px;

}
.regform {
    display: inline-table;
    background: white;
    padding: 10px;
    position: absolute;
    border-bottom-color: orange;
        border-bottom-style: solid;
        border-bottom-width: 15px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
}
.regelem {
    display: flex;
    padding: 5px;
}
.regform input{
    margin-left: auto;
}
.regform label{
    margin-right: 10px;
}

.regelem p {
    color: #d00;
    margin: unset;
    margin-left: 5px;
}
.regcaption {

}
.buyFooter  {
    z-index: 1;
    display: flex;
    width: 100%;
    background: white;
    padding: 5px;
    margin-top: 10px;
    position: fixed;
    top: 100%;
    transform: translate(0px, -100%);
}
.price {
    padding 5px;
    color: #111;
    font-size: 20px;
}
.buyPopup {
    display: block;
    background: rgba(1,1,1,0.5);
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%,-50%);
    padding: 100%;
}
.infoForm {
    background: white;
    padding: 20px;
}
.infoForm .element {
    margin: 15px
}
.buyBody {
    margin: unset;
    position: absolute;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
}
.buyCaption {
    margin: unset;
    padding: 10px;
    color: black;
}
.confirmButton {
    background: #666;
    color: white;
    padding: 5px;
    margin-top: 5px;
    
    text-decoration: none;
}
.ico {
    display: inline-block;
        width: fit-content;
        text-decoration: none;

}
.tagsContainer {
        display: inline-block;
        width: 100%;
}
.calendar {
    margin: auto;
    padding: 5px;
    background: #555;
    align-items: center;
}
.calendar .calendarForm {
    display: flow-root;
        
        color: white;
        padding: 5px;
        font-size: 20px;
}
.calendar .calendarForm .calendarCalendar {
    font-size: 16px;
}
.calendar .calendarForm .calendarButton {
    font-size: 16px;
    background: white;
    border: none;
    padding: 4px;
}
.room {
    margin: auto;
    position: absolute;
    margin-bottom: 100px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.leftWall {
    transform: rotate3d(1, 1, 1, 45deg);
    min-width: 50px;
    background: white;
}
.rightWall {
    transform: rotate3d(-1, 1, 1, -45deg);
    min-width: 50px;
    background: white;
}
.bottom {
    display: inline-flex;
    display: inline-flex;
    perspective: 1000px;
}
.screen {
        width: inherit;
        max-height: 250px;
        max-width: 600px;
}
.screenImage {
        width: -webkit-fill-available;
        height: inherit;
        max-height: inherit;
        max-width: inherit;
}
.buyRoot{
    padding: 0;
    margin: 0;
}
.exitCross {
    font-size: 100px;
    text-decoration: none;
    color: white;
}
.performanceCard {
    display: inline-flex;
    padding: 10px;
}
.performanceRightContainer {
    display: grid;
    padding: 10px;
}
.poster {

}
.performanceDescription {
    display: inline-flex;
    color: white;
    max-width: 512px;
}
.perfMainContainer {
    margin-top: 105px;
    display: grid;
}
.posterContainer {

}

.imdbContainer {
    position: relative;
    top: 32px;
    background: orange;
    width: fit-content;
    padding-right: 5px;
    border-radius: 0px 5px 5px 0px;
}
.previewTab {
    display: -webkit-box;
    overflow-x: auto;
    padding: 10px;
}
.performancesTabs {
    min-height: 800px;
}
.buildingsTabs {
    display: -webkit-box;
    overflow-x: auto;
}
.buildingTab {
    border-right: darkgray;
    border-right-style: outset;
    margin: 5px;
}
.performanceDate {
    font-size: 25px;
}
.enterButton {
    text-decoration: none;
}
.simpleBody {
    margin: none;
}
.void {
    min-width: 32px;
    margin: 5px;
}
.rowNumber {
    color: white;
}
.sseatsRow {
    display: flex;
    margin: auto;
    padding-right: 20px;
    padding-left: 20px;
}
.previewImage {
    width: 560px;
    height: 315px;
}
.noDeco {
    text-decoration: none;
}
.buyLink{
    text-decoration: none;
}
.background {
    position: absolute;
    width: 100%;
    filter: blur(3px);
    height: 100%;
}
.buyHeader {
    margin-left: auto;
    width: fit-content;
    padding: 10px;
}
.noSize {
    position: fixed;
        /* top: 50%; */
        /* transform: translate(-50%, 10px); */
    margin: auto;
    width: 100%;
    height: 100%;
    z-index: 1;
    background: rgba(1,1,1,0.8);
}
.userWindow {
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        position: fixed;
        width: 50%;
            height: 50%;
}
.logged {
    width: -webkit-fill-available;
        height: -webkit-fill-available;
        display: inline-flex;
}
.loggedInfo {
    margin-right: 10px;
        background: orange;
        padding: 10px;
}
.loggedBalance {
}
.loggedBalance .balanceText {

}
.loggedBalance .balanceValue {
    font-family: Roboto;
        font-size: 100px;
        color: black;
        font-weight: bold;
        white-space: nowrap;
}
.loggedName {
    margin: 0;
    font-size: 20px;
    font-weight: bold;
    font-family: Roboto;
}
.loggedEmail {
    margin: 0;
    font-size: 12px;
    color: black;
    font-weight: bold;
    font-family: Roboto;
    margin-bottom: 100%;
}
.loginLogin {
    width: 100%;
}

.ManagmentForm
{
     display: inline-table;
    background: white;
    padding: 10px;
    position: absolute;
    border-bottom-color: orange;
        border-bottom-style: solid;
        border-bottom-width: 15px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.ManagmentText
{
padding: 5px;
margin: 2px;
    font-size: 20px;
    color: #333333;
    font-weight bold 100;
    font: Roboto;

    text-decoration: none;

}
.ManagmentText:hover
{
    background: orange;
    color: black;
}

.blocks {
    display: inline-block;
}