<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="https://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="styles.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script type="text/javascript" th:src="@{js/geoPopup.js}" src="js/geoPopup.js"></script>
</head>
<body>
<div class="ManagmentForm">
<form class="calendarForm" th:attr = "action=@{/management/manageBuildings/save}" method = "post">
    <select name = "selectedCity" >
        <option class="ManagmentText2" th:each = "city : ${cities}" th:selected = "${defaultCity.id == city.id}" th:text = "${city.name}" th:value = "${city.id}">

        </option>
    </select>
    <div>
    <input class="ManagmentText2" type="text" name="address" th:value="${address}">
</div>
    <div>
    <input class="ManagmentText2" type="text" name="type" th:value="${type}">
</div>
    <div>
    <input class="ManagmentText2" type="hidden" name="id" th:value="${id}">
</div>
    <div>
    <input class="ManagmentText2" type="submit" value="Сохранить">
</div>

</form>
</div>
</body>
</html>