<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="https://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="styles.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script type="text/javascript" th:src="@{js/geoPopup.js}" src="js/geoPopup.js"></script>
</head>
<body>
<table>
    <tr th:each ="category : ${categories}">
        <td>
            <p th:text = "${category.name}"></p>
        </td>
        <td>
            <a th:href="'/management/manageCategories/manage?id=' + ${category.id}"> Изменить</a>
        </td>
        <td>
            <a th:href="'/management/manageCategories/delete?id=' + ${category.id}"> Удалить</a>
        </td>
    </tr>
</table>
<a href="/management/manageCategories/manage"> Добавить </a>
</body>
</html>