<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="https://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="/styles.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
</head>
<body>
    <center>
        <div class="management-box">
            <p>Категории</p>
            <p th:if="${error != null}" th:text="${error}"></p>
            <div class = "management-form">
                <table class="management-table">
                    <tr class="management-line" th:each ="category : ${categories}">
                        <td class="management-label">
                            <p th:text = "${category.name}"></p>
                        </td>
                        <td class="management-input">
                            <a class="management-text" th:href="'/management/manageCategories/manage?id=' + ${category.id}">&#9998;</a>
                        </td>
                        <td>
                            <a class="management-text" th:href="'/management/manageCategories/delete?id=' + ${category.id}"> &#128711;</a>
                        </td>
                    </tr>
                </table>
                <div class="management-controls">
                    <a class="management-text" href="/management/manageCategories/manage"> Добавить </a>
                </div>
            </div>
        </div>
    </center>
</body>
</html>