<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="https://www.thymeleaf.org"
>
<head>
    <link rel="stylesheet" href="styles.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script type="text/javascript" th:src="@{js/geo-popup.js}" src="js/geo-popup.js"></script>
</head>
<body>
<div th:insert = "~{header :: head}"></div>

<div class = "main-container">
    <div class = "tabs-container">
        <div class = "tabs-list">
            <h1 class = "caption">
                Кинотеатры
            </h1>
            <div class = "tabs-scroller">
                <a class = "no-deco" th:each="cinema : ${cinemasList}" th:href = "'/cinema?id=' + ${cinema.id}">
                <div class="city-tablet">
                    <p class="roboto-text">
                        Залы по адресу:
                    </p>
                    <p class = "roboto-text" th:text="${cinema.city.name}">
                    </p>
                    <p class = "roboto-text" th:text="${cinema.address}">
                    </p>
                    <p class = "roboto-text" th:text="'(' + ${cinema.type}+')'">
                    </p>
                </div>
                </a>
            </div>
        </div>
    </div>
</div>
</body>
</html>