<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="https://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="/styles.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

</head>
<body>
<center>
    <div class="managementBox">
        <p> Города</p>
        <p th:if="${error != null}" th:text="${error}"></p>
        <div class = "managementForm">
                <table class="managementTable">
                    <tr class="managementLine" th:each ="city : ${cities}">
                        <td class="managementLabel">
                            <p th:text = "${city.name}"></p>
                        </td>
                        <td class="managementInput">
                            <a class="managementText" th:href="'/management/manageCities/manage?id=' + ${city.id}">&#9998;</a>
                        </td>
                        <td>
                            <a  class="managementText" th:href="'/management/manageCities/delete?id=' + ${city.id}">&#128711;</a>
                        </td>
                    </tr>
                </table>
            <div class="managementControls">
                <a class="managementText" href="/management/manageCities/manage"> Добавить </a>
                <a class="managementText" onclick="history.back();"> Назад</a>
            </div>
        </div>
    </div>
</center>
</body>
</html>