<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <link rel="stylesheet" href="styles.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script type="text/javascript" th:src="@{js/geoPopup.js}" src="js/geoPopup.js"></script>
</head>
<body>
    <div th:fragment="head">
        <div class = "header">
            <div class = "wrapper">
                <div class = "upper_line">
                    <div class="first_column">
                        <a class="logo" th:href="@{/}">
                            <img src="images/polygon.png">
                        </a>
                        <div class="geo">
                            <a href="javascript:PopUpSwitch()" th:text="${geoCity}"></a>
                            <div class="cities" id="geoPopup">
                                <div class="wrapper">
                                    <ul class="list">
                                        <li th:each="city : ${citiesList}">
                                            <a th:href = "@{/setCity(id = ${city.id})}" th:text="${city.name}">

                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="second_column">
                        <a class = "etext" href="javascript:lPopUpSwitch()">
                        <div class="enter">

                            <p class = "etext" sec:authorize="isAnonymous()"> Вход</p>
                            <p class = "etext" sec:authorize="isAuthenticated()">[[${#httpServletRequest.remoteUser}]] </p>
                        </div>
                        </a>

                        <div id="loginPopup">
                            <div class="login">

                                <form sec:authorize="isAnonymous()" th:action="@{/login}" method="post">
                                    <div><label> User Name : <input type="text" name="username"/> </label></div>
                                    <div><label> Password: <input type="password" name="password"/> </label></div>
                                    <div><input type="submit" value="Войти"/></div>
                                    <div><a class="etext" th:href="@{/registration}">Регистрация</a></div>

                                </form>

                                <form sec:authorize="isAuthenticated()" th:action="@{/logout}" method="post">
                                    <div><input type="submit" value="Sign Out"/></div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="bottom_line">
                    <div class="menu">
                            <a class="menu_element" th:href="@{/films}">Фильмы</a>
                            <a class="menu_element" th:href="@{/cinemas}">Кинотеатры</a>
                            <a class="menu_element" th:href="@{/events}">События</a>
                            <a class="menu_element" th:href="@{/stocks}">Акции</a>
                            <a class="menu_element" th:href="@{/imax}">Фильмы в IMAX</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>