<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
    <head>
        <link rel="stylesheet" href="styles.css">
        <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
        <script type="text/javascript" th:src="@{js/geoPopup.js}" src="js/geoPopup.js"></script>
    </head>
    <body>
        <div th:insert = "~{header :: head}"></div>

        <div class = "main_container">
            <div class = "tabs_container">
                <div class = "tabs_list">
                    <h1 class = "caption">
                        КИНО УЖЕ СЕГОДНЯ
                    </h1>
                    <div class = "tabs_scroller">
                        <a class="last_tablet" th:href="@{/performance(id = ${film.id})}" th:each="film : ${filmsList}" >
                            <img th:src="*{'/img/' + film.id}">
                            <p class = "roboto_text" th:text="${film.name}">

                            </p>
                            <p class = "roboto_text" th:text="${film.description}">

                            </p>
                            <p class = "roboto_text" th:text="${film.date}">

                            </p>
                            <p th:each="cat : ${film.categories}" th:text="${cat.name}"></p>
                        </a>
                        <a class = "last_tablet" th:href="@{/films}">
                            <div class = "more">
                                <p class = "text">...</p>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>