<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Management</title>
</head>
<body>
    <a href="management/manageCities">Редактор городов</a>
    <a href="management/manageSessions">Редактор сеансов</a>
    <a href="management/managePerformances">Редактор фильмов</a>
    <a href="management/manageRooms">Редактор залов</a>
    <a href="management/manageCategories">Редактор Категорий</a>
    <a href="management/manageBuildings">Редактор Зданий</a>
    <a href="management/manageUsers">Редактор Пользователей</a>
    <a href="management/manageTransactions">Тразакции</a>
</body>
</html>