<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
>
<head>
    <link rel="stylesheet" href="/styles.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
</head>
<body>
    <div>
        <div class="management-box">
            <div class="management-menu">
            <a class="management-text" href="management/manageCities">Редактор Городов</a>
            <a class="management-text" href="management/manageSessions">Редактор Сеансов</a>
            <a class="management-text" href="management/managePerformances">Редактор Фильмов</a>
            <a class="management-text" href="management/manageRooms">Редактор Залов</a>
            <a class="management-text"  href="management/manageCategories">Редактор Категорий</a>
            <a class="management-text"  href="management/manageBuildings">Редактор Зданий</a>
            <a class="management-text"  href="management/manageUsers">Редактор Пользователей</a>
            <a class="management-text"  href="management/manageTransactions">Тразакции</a>
            </div>
        </div>
    </div>
</body>
</html>