<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="https://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="styles.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script type="text/javascript" th:src="@{js/geoPopup.js}" src="js/geoPopup.js"></script>
</head>
<body>
<center>
    <div  class="ManagmentForm">
<table>
    <tr  th:each ="performance : ${performances}">
        <td>
            <p th:text = "${performance.name}"></p>
        </td>
        <td>
            <a  class="ManagmentText" th:href="'/management/managePerformances/manage?id=' + ${performance.id}"> Изменить</a>
        </td>
        <td>
            <a class="ManagmentText" th:href="'/management/managePerformances/delete?id=' + ${performance.id}"> Удалить</a>
        </td>
    </tr>
</table>
<a class="ManagmentText" href="/management/managePerformances/manage"> Добавить </a>
        <div>
            <a class="ManagmentText" onclick="history.back();"> Назад</a>
        </div>
    </div>
</center>
</body>
</html>