<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="https://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="/styles.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script type="text/javascript" th:src="@{js/geoPopup.js}" src="js/geoPopup.js"></script>

</head>
<body>
    <center>
        <div class="management-box">
            <p>Редактор фильма</p>
        <form class="management-form" th:attr = "action=@{/management/managePerformances/save}" method = "post" enctype="multipart/form-data">
            <input type="hidden" name="id" th:value="${id}">
            <div class="management-line">
                <label class="management-label">Название фильма</label>
                <div class="management-input">
                    <input type="text" name="name" th:value="${name}">
                </div>
            </div>
            <div class="management-line">
                <label  class="management-label">Ссылка на YouTube трейлер (Embed)</label>
                <div class="management-input">
                    <input type="text" name="link" th:value="${link}">
                </div>
            </div>
            <div class="management-line">
                <label class="management-label">IMDB ID</label>
                <div class="management-input">
                    <input type="text" name="imdb" th:value="${imdbID}">
                </div>
            </div>
            <div class="management-line">
                <label class="management-label">Описание</label>
                <div class="management-input">
                    <input type="text" name="description" th:value="${description}">
                </div>
            </div>
            <div class="management-line">
                <label class="management-label">Постер</label>
                <div class="management-input">
                    <input type="file" name="file">
                </div>
            </div>
            <div class="management-line">
                <label class="management-label">Превью</label>
                <div class="management-input">
                    <input type="file" name="files" multiple>
                </div>
            </div>
            <div class="management-line">
                <label class="management-label">Премьера</label>
                <div class="management-input">
                    <input type="date" name="date" th:value="${date}">
                </div>
            </div>
            <div class="management-line" th:each="instance : ${cats}">
                <input type = "checkbox" th:text = "${instance.key.name}" id="cats" name="cats" th:value="${instance.key.id}" th:checked="${instance.value}" >
            </div>
            <div class="management-controls">
                <input class="management-text" type="submit" value="Сохранить">
                <a class="management-text" onclick="history.back();"> Назад</a>
            </div>
        </form>
    </center>
</body>
</html>