<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

<head>
    <link rel="stylesheet" href="styles.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
    <meta charset="UTF-8">
</head>
<body>
<div th:insert = "~{header :: head}"></div>
<div class="main_container">
    <p  class = "roboto_text" th:text = ${perf.name}></p>
    <p  class = "roboto_text" th:text = ${perf.description}></p>
</div>

<div class = "performancefilms" th:each = "instance : ${sessions_by_buildings}">
    <p th:text = "${instance.key.type}">

    </p>
    <div class ="sessions">
        <div class = "session_tab" th:each = "s : ${instance.value}">
            <a th:text = "${s.getSimpleTime()}" th:href="@{/selectSeat(id = ${s.id})}">

            </a>
        </div>
    </div>
</div>

</body>
</html>