<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="https://www.thymeleaf.org"
>

<head>
    <link rel="stylesheet" href="styles.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
    <meta charset="UTF-8">
</head>
<body>
    <div th:insert = "~{header :: head}"></div>
    <div class="main_container">
        <p  class = "caption" th:text = ${perf.name}></p>
        <div>
            <img th:src="*{'/img/' + perf.id}">
        </div>
        <p  class = "roboto_text" th:text = ${perf.description}></p>
        <div class = "tag" th:each = "tag : ${perf.categories}" th:text="${tag.name}">

        </div>
    </div>

    <div class="calendar">
        <form class="calendarForm" th:attr = "action=@{/performance(id = ${perf.id})}" method = "post">
            Выберите дату:
            <input class="calendarCalendar" type="date" name="day" th:value="${day}"  >
            <input class="calendarButton" type="submit" value="Выбрать">
        </form>
    </div>
    <div class = "performance" th:each = "instance : ${sessions_by_buildings}">
        <p th:text = "${instance.key.address + ' ' + instance.key.type}">

        </p>
        <div class ="sessions">
        <div class = "session_tab" th:each = "s : ${instance.value}">
            <a th:text = "${s.getSimpleTime()}" th:href="@{/selectSeat(id = ${s.id})}">

            </a>
        </div>
        </div>
    </div>

</body>
</html>