<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="https://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="/styles.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

</head>
<body>
    <center>
        <div class="management-box">
            <p>Фильмы</p>
            <p th:if="${error != null}" th:text="${error}"></p>
            <div class="management-form">
                <table class = "management-table">
                    <tr class="management-line" th:each ="performance : ${performances}">
                        <td class="management-label">
                            <p th:text = "${performance.name}"></p>
                        </td>
                        <td class="management-input">
                            <a  class="management-text" th:href="'/management/managePerformances/manage?id=' + ${performance.id}">&#9998;</a>
                        </td>
                        <td >
                            <a class="management-text" th:href="'/management/managePerformances/delete?id=' + ${performance.id}">&#128711;</a>
                        </td>
                    </tr>
                </table>
                <a class="management-text" href="/management/managePerformances/manage"> Добавить </a>
                <a class="management-text" onclick="history.back();"> Назад</a>
            </div>
        </div>
    </center>
</body>
</html>