<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="https://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="styles.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script type="text/javascript" th:src="@{js/cpsw.js}" src="js/cpsw.js"></script>
</head>
<body>
    <center>
        <div class = "regpage">
            <form class = "reg-form" id = "reg" action="/registration" th:object="${user}" method="POST" enctype="utf8">
                <p class="regcaption">Регистрация</p>
                <div class="reg-elem">
                    <label>Имя пользователя</label>
                    <p th:each="error: ${#fields.errors('username')}"
                        th:text="${error}">Validation error</p>
                    <input th:field="*{username}"/>
                </div>
                <div class="reg-elem">
                    <label>Почта</label>
                    <p th:each="error : ${#fields.errors('email')}"
                        th:text="${error}">Validation error</p>
                    <input type="email" th:field="*{email}"/>
                </div>
                <div class="reg-elem">
                    <label>Пароль</label>
                    <p th:each="error : ${#fields.errors('password')}"
                        th:text="${error}">Validation error</p>
                    <input type="password" id = "psw" th:field="*{password}"/>
                </div>
                <div class="reg-elem">
                    <label>Повторите пароль</label>
                    <p id = "cpswErr">Пароли не совпадают</p>
                    <input id = "cpsw" type="password"/>
                </div>
                <a class="reg-button" href="javascript:check()">Зарегистрироваться</a>
            </form>
        </div>
    </center>
</body>
</html>