<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="https://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="/styles.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script type="text/javascript" th:src="@{/js/mroom.js}" src="/js/mroom.js"></script>

</head>
<body>
    <center>
        <div class="management-box">
            <p>Создание зала</p>
            <form class="management-form" th:attr = "action=@{/management/manageRooms/save}" method = "post">
                <div class="management-table">
                    <input type="hidden" value="0" name = "rowsCount" id = "rowsCount">
                    <div class="management-line">
                        <label class="management-label">Адрес</label>
                        <select class="management-input" name = "selectedBuilding" >
                            <option th:each = "building : ${buildings}"
                                    th:selected = "${defaultBuilding.id == building.id}"
                                    th:text = "${building.city.name} + ', ' + ${building.address}"
                                    th:value = "${building.id}">
                            </option>
                        </select>
                    </div>
                    <div class="management-line">
                        <label class="management-label">Тип зала</label>
                        <input class="management-input" type="text" value="2D" name = "type">
                    </div>
                    <div class="management-line">
                        <label class="management-label">Номер зала</label>
                        <input class="management-input" type="text" value="1" name = "number">
                    </div>

                    <table id = "rowsTable">
                        <tr>
                            <th> ЗАЛ</th>
                        </tr>
                    </table>
                    <input class="management-text" type="button" th:onclick="addRow();" value="Добавить ряд">
                    <input class="management-text" type="button" th:onclick="delRow();" value="Удалить ряд">
                </div>
                <div class="management-controls">
                    <input class="management-text" type="submit" value="Сохранить">
                    <a class="management-text" onclick="history.back();"> Назад</a>
                </div>
            </form>
        </div>
    </center>
</body>
</html>