<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
  <link rel="stylesheet" href="styles.css">
  <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script type="text/javascript" th:src="@{js/geo-popup.js}" src="js/geo-popup.js"></script>
  <script type="text/javascript" th:src="@{js/selection.js}" src = "js/selection.js"></script>
</head>
<body class="buy-root">
<img class = "background" src="images/bg.jpg">
<div class="buy-body">
  <div class = "buy-header">
    <p class = "caption" th:text="${selectedSession.performance.name} + ' ' + ${#dates.format(selectedSession.time, 'dd-MM-yyyy HH:mm')} +
            ' Зал №' +${selectedSession.room.number}"></p>
    <a class = "exit-cross" th:href = "@{/performance(id = ${selectedSession.performance.id})}">&#10005;</a>
  </div>
  <div class = "buyFooter">
    <p class = "price" id="price">Цена</p>
    <form class = "buy-button" id = "infoForm" th:object="${purchaseInfo}" method="POST">
      <a class="buy-link" href = # id = "confirmBuy">
        <p class = "buy-caption" th:text="Купить"></p>
      </a>
    </form>
  </div>

  <div class="room">
    <center>
      <div class="screen">
        <img class="screen-image" th:src = "*{'/preview/' + imgId}">
      </div>
      <div class = "bottom">
        <table class = "seats-rows">
          <tr class = "seats_row"  th:each = "sRow, iterationStat : ${rowsList}">
            <td>
              <p th:text = ${iterationStat.count} class = "row-number"></p>
            </td>
            <td class = "selected-seatsRow">
              <center class = "selected-seatsRow">
                <div th:each = "instance : ${sRow}">
                  <center>
                    <div th:if="${instance.key.isSeat()}">
                      <div class = "seat" th:value= "${instance.value.occupied}" th:attr = "ticket = ${instance.value.id}" th:attrappend =  "ticketPrice = ${selectedSession.price}">
                        <div th:text = "${instance.key.seat}"></div>
                      </div>
                    </div>
                    <div th:if="${not instance.key.isSeat()}">
                      <div class = "void">

                      </div>
                    </div>
                  </center>
                </div>
              </center>
            </td>
            <td>
              <p th:text = ${iterationStat.count} class = "row-number"></p>
            </td>
          </tr>
        </table>
      </div>
    </center>
  </div>
  <div class="buy-popup" id="buyPopup">
    <form class = "info-form" id = "infoForms" th:object="${purchaseInfo}" method="POST">
      <div class="element"><label> Email: <input type="text" th:value = "${email}" id = "email" name ="email"/> </label></div>

      <div class="element" sec:authorize = "isAuthenticated()"><a class="confirm-button" href="#" id = "confirmBalance" >Купить за баллы</a>
        <p class="e-text" th:text="${balance}"></p>
      </div>
      <div class="element"><a class="confirm-button" href="javascript:PopUpSwitch()" id = "rejectBuy">Закрыть</a></div>
    </form>
  </div>
</div>
</body>
</html>