<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="https://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="/styles.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
</head>
<body>
    <center>
        <div class="managementBox">
            <div class="calendar">
                <form class="calendarForm" th:attr = "action=@{/management/manageSessions}" method = "post">
                    Выберите дату:
                    <input class="calendarCalendar" type="date" name="day" th:value="${day}"  >
                    <input class="calendarButton" type="submit" value="Выбрать">
                    <select name = "selectedBuilding" >
                        <option th:each = "building : ${buildings}" th:selected = "${defaultBuilding.id == building.id}" th:text = "${building.address}" th:value = "${building.id}">
                        </option>
                    </select>
                </form>
            </div>
            <p th:if="${error != null}" th:text="${error}"></p>
            <div class="managementForm">
                <table class="managementTable">
                    <tr th:each ="instance : ${sessions}">
                    <td>
                        <table class="managementSubTable">
                            <tr class="managementLine" th:each = "ssession : ${instance.value}">
                                <td class="managementLabel">
                                    <p th:text = "${instance.key.name}"></p>
                                </td>
                                <td class="managementLabel">
                                    <p th:text = "${#dates.format(ssession.time, 'HH:mm')}">

                                    </p>
                                </td>
                                <td class="managementInput">
                                    <a class="managementText" th:href="'/management/manageSessions/manage?id=' + ${ssession.id}"> &#9998;</a>
                                </td>
                                <td>
                                    <a class="managementText" th:href="'/management/manageSessions/delete?id=' + ${ssession.id}"> &#128711;</a>
                                </td>
                            </tr>
                        </table>
                    </td>

                    </tr>
                </table>
                <div class="managementControls">
                    <a class="managementText" href="/management/manageSessions/manage"> Добавить </a>
                    <a class="managementText" onclick="history.back();"> Назад</a>
                </div>
            </div>
        </div>
    </center>
</body>
</html>