<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="https://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="/styles.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
</head>
<body>
    <div>
        <div class="management-box">
            <p>Редактор сеанса</p>
            <form class="management-form" th:attr = "action=@{/management/manageSessions/save}" method = "post">
                <input type="hidden" name="id" th:value="${id}">
                <div class="management-table">
                    <div class="management-line">
                        <label class="management-label">Фильм</label>
                        <div class="management-input">
                            <select name = "selectedPerformance" >
                                <option th:each = "performance : ${performances}"
                                    th:selected = "${defaultPerformance.id == performance.id}"
                                    th:text = "${performance.name}"
                                    th:value = "${performance.id}">
                                </option>
                            </select>
                        </div>
                    </div>
                    <div class="management-line">
                        <label class="management-label">Цена билета</label>
                        <div class="management-input">
                            <input type="text" name="price" th:value="${price}">
                        </div>
                    </div>
                    <div class="management-line">
                        <label class="management-label">Зал</label>
                        <div class="management-input">
                            <select name = "selectedRoom" >
                                <option th:each = "room : ${rooms}"
                                    th:selected = "${defaultRoom.id == room.id}"
                                    th:text = "${room.building.address} + ', зал №' + ${room.number}"
                                    th:value = "${room.id}">
                                </option>
                            </select>
                        </div>
                    </div>
                    <div class="management-line">
                        <label class="management-label">Дата и время</label>
                        <div class="management-input">
                            <input type="datetime-local" name="date" th:value="${date}">
                        </div>
                    </div>
                </div>
                <div class="management-controls">
                    <input class="management-text" type="submit" value="Сохранить">
                    <a class="management-text" onclick="history.back();"> Назад</a>
                </div>
            </form>
        </div>
    </div>
</body>
</html>