<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <link rel="stylesheet" href="styles.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script type="text/javascript" th:src="@{js/cpsw.js}" src="js/cpsw.js"></script>
</head>
<body>
    <div class="registration-page">
        <div class="reg-form">
            <h1>Оплата прошла успешно!</h1>
            <a class = "reg-button" href="/">Вернуться на главную</a>
        </div>
    </div>
</body>
</html>