<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="https://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="/styles.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
</head>
<body>
<center>
    <div class="management-box">
        <p> Транзакции</p>
        <p th:if="${error != null}" th:text="${error}"></p>
        <div class = "management-form">
            <table class="management-table">
                <tr>
                    <th>ID</th>
                    <th>Почта</th>
                    <th>Дата</th>
                    <th>Завершена? </th>
                    <th>Прервана?</th>
                    <th>Пользователь?</th>
                </tr>
                <tr th:each ="transaction : ${transactions}">
                    <td>
                        <p th:text = "${transaction.id}"></p>
                    </td>
                    <td>
                        <p th:text = "${transaction.email}"></p>
                    </td>
                    <td>
                        <p th:text = "${transaction.date}"></p>
                    </td>
                    <td>
                        <p th:text = "${transaction.ended}"></p>
                    </td>
                    <td>
                        <p th:text = "${transaction.terminated}"></p>
                    </td>
                    <td th:if = "${transaction.user} != null">
                        <p th:text = "${transaction.user.username}"></p>
                    </td>
                </tr>
            </table>
            <div class="management-controls">
                <a class="management-text" onclick="history.back();"> Назад</a>
            </div>
        </div>
    </div>
</center>
</body>
</html>